.accelerator-template {
  .large-screen-side-nav.on-scroll {
    display: none;
  }
}

.start-up-components {
  #hover-blocks {
    .one {
      .five {
        text-align: center;
        figure {
          position: relative;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
          margin: 20px;
          // svg {
          //   margin-top: 0;
          //   transform: scale(1.1);
          //   .opendata-1, .officespace-1, .mentorship-1, .mentorship-2, .workshop-1, .oneonone-1, .perks-1, .networking-1, .partners-1, .investors-1, .demo-1 {
          //     fill: $brand-five;
          //     stroke: $brand-five;
          //   }
          //   .opendata-1 {
          //   }
          //   .officespace-1 {
          //   }
          //   .mentorship-1 {
          //   }
          //   .mentorship-2 {
          //   }
          //   .workshop-1 {
          //   }
          //   .oneonone-1 {
          //   }
          //   .perks-1 {
          //   }
          //   .networking-1 {
          //   }
          //   .partners-1 {
          //   }
          //   .investors-1 {
          //   }
          //   .demo-1 {
          //   }
          // }
          figcaption {
            position: absolute;
            top: 0;
            font-size: .9em;
            padding-top: 20px;
            bottom: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: #ffffff;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
            transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
            transition: transform 0.4s, opacity 0.1s 0.3s;
            transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
            display: inline-flex;
            align-items: center;
            box-sizing: border-box;
            text-align: center;
            margin: 0;
            border-radius: 50%;
            background-color: rgba($brand-five, 0.7);
            padding: 5px;
            color: white;

          }
        }
        &:hover figure {
          // -webkit-transform: translateY(-50px);
          // transform: translateY(-50px);

        }
        &:hover figure figcaption {
          opacity: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
          transition: opacity 0.1s, -webkit-transform 0.4s;
          transition: transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
          transform: scale(1.2);
        }

      }
    }
  }
  .featured {
    .quote {
      margin-top: 0;
      svg {
        opacity: 0;
      }
    }
  }
  .stats {
    .six {
      figure {
        position: relative;
        .wrap {
          color: $white;
          font-family: $heading-font-family;
          font-size: $header-size / 1.7;
          font-weight: 800;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          padding-bottom: 25px;
          @media only screen and (max-width: 1200px) {
            font-size: $header-size / 1.5;
          }
          @media only screen and (max-width: 1000px) {
            font-size: $header-size / 1.2;
          }
          @media only screen and (max-width: 750px) {
            font-size: $header-size / 1;

          }
        }
        figcaption{
          font-family: $heading-font-family;
          color: $brand-blue;
          font-size: 1rem;
        }
        text-align: center;
        svg {
          .years-1, .startup-1, .world-1, .cohorts-1, .investment-1, .jobs-1 {
            fill: $brand-five;
          }
          .years-1 {
          }
          .startup-1 {
          }
          .world-1 {
          }
          .cohorts-1 {
          }
          .investment-1 {
          }
          .jobs-1 {
          }
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(2n+2) {
          grid-column-start: 2;
          grid-column-end: 8;
        }
        &:nth-child(2n+3) {
          grid-column-start: 8;
          grid-column-end: 14;
        }
      }
    }
  }
  .faq-title {
    padding: 4rem 0 0 0;
  }
  .faq-snippet {
    padding: 0 0 4rem 0;

    .two {
      h5 {
        margin-bottom: 1rem;
      }
    }
    .show_hide {
      border-bottom: 1px solid white;
      margin-bottom: 1rem;
      cursor: pointer;
    }
    .slidingDiv > p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .steps {
    .one, .three {
      text-align: center;
    }
    .three {
      &:nth-child(3) {
        align-self: center;

      }
    }
    figure{
      width: 150px;

      display: inline-block;
    }
  }
  #mentors {
    padding: 4rem 0;
    .six {
      text-align: center;
      position: relative;
      img {
        border-radius: 50%;
      }
      .social-links {
        width: 100%;
        display: inline-flex;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 0.5rem;
        border-top: 1px solid;
        padding-top: 0.5rem;
      }
      .svg.twitter {
        width: 20px;
        height: 20px;
        fill: $brand-one;
      }

      .svg.linkedin {
        width: 17px;
        height: 17px;
        fill: $brand-one;
      }

      figcaption {
        font-size: .9rem;
        line-height: 1.2;
        p {
          &:nth-child(1) {
            margin-top: 0;
            font-size: $header-size / 4;
            text-transform: uppercase;
            margin-bottom: .5rem;
            letter-spacing: 0;
            font-weight: 800;
            line-height: $header-line-height / 1.2;
          }
          &:nth-child(2) {
            margin-top: 0;
            font-size: $header-size /4;
          }
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(2n+2) {
          grid-column-start: 2;
          grid-column-end: 8;
        }
        &:nth-child(2n+3) {
          grid-column-start: 8;
          grid-column-end: 14;
        }
      }
    }
  }

  #selection {
    align-items: stretch;
    .three {
      background-color:$globalTwo;
      border-radius:10px;
      padding:1rem;

      figcaption {
        font-weight:700;
      }
    }
  }



  .intro-text{

    position: relative;
    .line-graphic {
      display: inline-block;
      right: 0;
      bottom: 0;
      width: 380px;
      svg {
        position: absolute;
        height: 50%;
        bottom: 0;
        /* max-height: 250px; */
        right: 0;
      }
      @media only screen and (max-width: 1000px) {
        display: none;
      }
    }
    .one {
      &:nth-child(2) {
      }
    }
  }
  .partners {
    .four {
      figure {
        text-align: center;
        img {
          display: inline-block;
        }
      }
    }
  }
}