---
layout: default-accelerator
---

<div class="page global-template start-up-components">

    <article class="hero--large collapse-bottom"
             style="background: linear-gradient(to right, #181242 0%, transparent 70%),  url({{site.baseurl}}{{page.thumbnail_image}})center 43% / cover no-repeat;">
        <div class="two">
            <h1>{{page.title}}</h1>
            <p class="hero-sub">6.2 million adults are fairly active but don’t exercise enough to improve their health and
                wellbeing.</p>
            <h6>Sport England</h6>
            <p><a href="https://www.sportengland.org/media/12458/active-lives-adult-may-16-17-report.pdf"
                  target="_blank">Active Lives Survey - 16/17</a></p>
        </div>
    </article>

    <article class="intro-text invert-3">
        <div class="one">
            <p class="h3-copy">Developments in <strong>data</strong>, social media, VR and AI are having a huge impact
                on many aspects of people’s
                lives, removing pain points and creating <strong>better experiences for customers.</strong></p>
            <p>In the sport and physical activity sector, services designed to get people <strong>more active</strong>
                often don’t offer
                the seamless experiences we are used to in industries like travel or entertainment.
                <strong>Information</strong>
                about what’s available is mostly contained in silos, and little <strong>collaboration</strong> happens
                between the
                different stakeholders in the ecosystem, such as gyms and sport clubs.</p>
        </div>
        <div class="one">
            <a class="button-primary--ghostlarge" href="">APPLY NOW</a>
        </div>
        <i class="line-graphic">{% include line-graphic-corner.svg %}</i>
    </article>

    <article id="hover-blocks" class="title-row">
        <h2 class="sub-heading-two">What startups get</h2>
        <div class="one non-grid">
            <div class="five">
                <figure>
                    {% include opendata.svg %}
                    <strong>Open data</strong>
                    <figcaption>Unique access from key physical activity providers.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include officespace.svg %}
                    <strong>Office space</strong>
                    <figcaption>Including day-to-day business support.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include mentorship.svg %}
                    <strong>Mentorship</strong>
                    <figcaption>Matched with industry leaders that are the best fit for your startup.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include workshops.svg %}
                    <strong>Workshops</strong>
                    <figcaption>From business modelling to marketing, you’ll hone skills to succeed.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include oneonone.svg %}
                    <strong>1:1s</strong>
                    <figcaption>Weekly sessions with the OpenActive Accelerator team.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include perks.svg %}
                    <strong>Perks</strong>
                    <figcaption>Access to professional services inc. data hosting.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include networking.svg %}
                    <strong>Networking</strong>
                    <figcaption>Weekly opportunities to grow your network</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include partners.svg %}
                    <strong>Partners</strong>
                    <figcaption>Supporters and business leads.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include investors.svg %}
                    <strong>Investors</strong>
                    <figcaption>We’ll connect you with the right people and advice at the right time.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    {% include demo.svg %}
                    <strong>Demo Day</strong>
                    <figcaption>Demonstrate your products and services at an invite-only pitch to investors.
                    </figcaption>
                </figure>
            </div>
        </div>
    </article>

    <article class="title-row featured invert-2">
        <i class="quote">
            {% include quote.svg %}
        </i>
        <blockquote>
            <p>The Open Data Institute sits at the heart of the open data movement globally…[it] enabled us to build
                a product that consistently "wows" the householders that use our platform and helps them live more
                happily together.</p>
            <h6>Nick Katz</h6>
            <h6>Co-founder & CEO, acasa (formerly Splittable)</h6>
        </blockquote>
        <div></div>
    </article>


    <article class="title-row stats">
        <h2 class="sub-heading-two">Our experience supporting startups</h2>
        <div class="six">
            <figure>
                {% include years.svg %}
                <div class="odometer years">0</div>
                <figcaption>Years</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                {% include startup.svg %}
                <div class="odometer startups">0</div>
                <figcaption>startups</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                {% include world.svg %}
                <div class="odometer world">0</div>
                <figcaption>countries worldwide</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                {% include cohorts.svg %}
                <div class="odometer cohorts">0</div>
                <figcaption>cohorts</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                {% include investment.svg %}
                <span>£</span><div class="odometer investment">0</div><span>m</span>
                <figcaption>investment raised</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                {% include jobs.svg %}
                <div class="odometer jobs">0</div>
                <figcaption>jobs</figcaption>
            </figure>
        </div>
    </article>


    <article class="title-row invert-2" id="mentors">
        <h2 class="sub-heading-two">Mentors</h2>
        {% assign sortedPosts = site.mentors | sort: 'title' %}
        {% for post in sortedPosts %}
        {% assign theImage = post.thumbnail_image %}

        <div class="six">

            <figure>
                <img src="{{ theImage  | relative_url}}" alt="{{ post.title | escape }} Icon"/>
                <figcaption>{{ post.title | escape }}</figcaption>
                <div class="social-links">
                    {% if post.twitter %}

                    <a target="_blank" rel="noopener" href="{{ post.twitter }}">
                                        <span class="icon icon--twitter">
                                            {% include twitter.svg %}
                                        </span>
                        <span class="hidden" aria-hidden="true">
                                            Twitter
                                        </span>
                    </a>
                    {% endif %}
                    {% if post.linkedin %}
                    <a href="{{ post.linkedin }}" target="_blank">
                                        <span class="icon icon--twitter">
                                            {% include linkedin.svg %}
                                        </span>
                        <span class="hidden" aria-hidden="true">
                                            LinkedIn
                                        </span>
                    </a>
                    {% endif %}
                </div>
            </figure>

        </div>


        {% endfor %}

    </article>


    <article class="title-row steps collapse-bottom">
        <h2 class="sub-heading-two">How we select startups</h2>
        <div class="three">
            <figure>
                {% include one.svg %}
                <figcaption>Written application via F6S</figcaption>
            </figure>
        </div>
        <div class="three">
            <h3>OR</h3>
        </div>
        <div class="three">
            <figure>
                {% include two.svg %}
                <figcaption>f2f 4-day bootcamp and pitch in London for shortlisted startups</figcaption>
            </figure>
        </div>
    </article>
    <article class="steps">
        <div class="one">
            <figure>
                {% include three.svg %}
                <figcaption>Up to 10 selected startups invited to join the programme by an expert panel</figcaption>
            </figure>
        </div>
    </article>

    <article class="title-row invert-3">
        <h2 class="sub-heading-two">Timeline</h2>
        <div class="one">
            {% include timelinelandscapetext.svg %}
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Are You Eligible?</h2>
        <div class="one">
            <p>To apply you need to fulfill certain requirements, find out if you are eligible.</p>
            <p><a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Accelerator Requirements</a>
            </p>

        </div>
    </article>

    <article class="call_to_action">
        <div class="subgrid">
            <div class="three blue-gradient-bc">
                <h4>Apply as a startup</h4>
                <a class="button-primary" href="#">Start</a>
            </div>
            <div class="three purple-gradient-bc">
                <h4>Become a mentor </h4>
                <a class="button-primary"
                   href="https://docs.google.com/forms/d/1rv50zCN17njsYrAG2YBlHqqSpVeHCJmp0NpN87AGBiQ/edit"
                   target="_blank">Sign Up</a>
            </div>
            <div class="three red-gradient-bc ">
                <h4>Join as a partner</h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link join-partner.md %}">Join Now</a>
            </div>
        </div>
    </article>


    <article class="title-row collapse-bottom invert-4">
        <h2 class="sub-heading-two">More questions?</h2>
        <div class="one">
            <h4>If you have general queries about the Accelerator have a look through our FAQs</h4>
        </div>
    </article>
    <article class="faq-snippet invert-4">
        <div class="two">
            <div class="news-content">
                {% assign aboutAccelerator = site.faqs | where: "categories", "OpenActive Accelerator" %}
                {% for post in aboutAccelerator limit:3 %}

                <div class=" show_hide">
                    <h5><span class="brand-five-c">Q:</span> {{ post.title | escape}}</h5>
                    <div class="slidingDiv">
                        {{post.content}}
                    </div>
                </div>


                {% endfor %}
            </div>
        </div>
        <div class="two">
            <div class="news-content">
                {% assign aboutAccelerator = site.faqs | where: "categories", "OpenActive Accelerator" %}
                {% for post in aboutAccelerator limit:2 offset:3 %}

                <div class="show_hide">
                    <h5><span class="brand-five-c">Q:</span> {{ post.title | escape}}</h5>
                    <div class="slidingDiv">
                        {{post.content}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="one">
            <p><a class="button-primary--ghost" href="{{ site.baseurl }}{% link faqs.md %}">Visit
                our FAQs</a>&nbsp;<a class="button-primary"
                                     href="mailto:Lisa.ellwood@theodi.org?subject=OpenActive application query">get
                in touch.</a></p>
        </div>
    </article>


    <article class="title-row">
        <h2 class="sub-heading-two">Supporters and data providers</h2>

        {% assign sortedPosts = site.partners | sort: 'title' %}
        {% for post in sortedPosts %}
        {% assign theImage = post.thumbnail_image %}

        <div class="four">
            <figure>
                <img src="{{ theImage  | relative_url}}" alt="{{ post.title | escape }} Icon"/>
            </figure>
        </div>

        {% endfor %}

    </article>
    {{ content }}

</div>
